* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b1b1b1;
}
h1 {
  text-align: center;
  font-weight: 700;
  padding: 0.5rem;
  color: rgb(194, 45, 45);
}
.list-group {
  width: 100%;
  margin: auto;
}

.container {
  margin-top: 1rem;
  min-width: 320px;
  width: 400px;
  height: 500px;
  border: 1px solid green;
  background-color: rgb(164, 200, 243);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.custombtn {
  float: right;
}

.Input-food {
  height: 2.5rem;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: none;
}
